//Colors

//Tipography
$primary: 'Montserrat';
$secondary: 'Poppins';

//Weights
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

//responsive breakpoints
$desktop-min: 1024px;
$desktop-max: 1920px;
$mobile-min: 360px;
$mobile-max: 414px;
$tablet-min: 601px;
$tablet-max: 1280px;